.main {
  &::-webkit-scrollbar {
    width: 7px;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover::-webkit-scrollbar,
  &:active::-webkit-scrollbar,
  &.nav::-webkit-scrollbar-thumb {
    opacity: 1;
  }

  &::-webkit-scrollbar-track {
    background: #0f0f0f86;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(67, 66, 66, 0.882);
    border-radius: 5px 5px 5px 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
