.container {
  transition: width 0.3s ease-in-out;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
      
}
.container.active {
  width: 76px;
  transition: width 0.3s ease-in-out;
}

.container.active .title{
    display: none;
}

.container.active .content-heading{
    display: none;
}

.container.active .arrow-icon{
    display: none;
}

.container.active .news{
    display: none;
}

.container.active .sub-menus{
    display: none;
}

.nav{
&::-webkit-scrollbar {
    width: 7px;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover::-webkit-scrollbar,
  &:active::-webkit-scrollbar,
  &.nav::-webkit-scrollbar-thumb {
    opacity: 1;
  }

  &::-webkit-scrollbar-track {
    background: #0f0f0f86;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(67, 66, 66, 0.882);
    border-radius: 5px 5px 5px 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}